---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap");

body {
  font-family: "ZCOOL XiaoWei", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ZCOOL XiaoWei", serif;
  color: #931088;
}
